body{
  background-color: #faf6ee;
  color:#361d10;
}
h4{
  color: #361d10;
}
h3{
  font-weight:400;

}
md-radio-button{
  margin-right: 1%;
  margin-left: 1%;
}
md-content{
  overflow-x: hidden;
}
.material-icons.md-48 {
  font-size: 28px;

}
.cream-background{
  background-color: #faf6ee;
}


.exisitingUserGrid md-grid-list {
  margin: 8px;
}

.exisitingUserGrid .gray {
  background: #f5f5f5;
}

.exisitingUserGrid md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

/* Removes weird highligh on radios with ng-click*/
md-radio-button:focus {
    outline: none;
    border: 0;
 }
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #e54735;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #e54735;
}

.newCustomerHeading, .existingFitFormHeading, .newFitFormHeading, .customFrameGeometryHeading, .customFrameDetailsHeading, .customerSelectHeading, .existingCustomerHeading{
  text-align:center;
  font-size: 24px;
  margin-top: -0.5%;
  color: #361d10;

}
.customerInformationHeading{
  text-align:center;
  margin-top: 1%;
  font-size: 24px;
  color: #361d10;

}
.loginHeading{
  text-align:center;
  margin-top: 5%;
  font-size: 24px;
  color: #361d10;
}
.newCustomerForm{
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
}
.updateCustomerForm{
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid #361d10;
  padding-right: 15px;
}
.customerSelectHeading, .existingCustomerHeading{

  margin-top: 5%;
}
.customerTypes{
  margin-top: 5%;
}
.formOneInputs, .formTwoInputs, .formThreeInputs, .formFourInputs{
  overflow-y: scroll;
  height: 400px;
  overflow-x: hidden;
}
.customersDisplay{
    overflow-y: scroll;
    height: 410px;
    overflow-x: hidden;
    margin-right: 5%;
    margin-left: 5%;
}
.formOneSubmit, .formTwoSubmit, .formThreeSubmit, .formFourSubmit, .formUpdate, .formPdf, .formSave{
  width: 60%;
}
.hideMeasurement{
  display: none;
}
.showMeasurement{
  display: block;
}
@media screen and (max-width: 1024px) and (min-width: 768px){
  .customerBike{
    width: 170px !important;
  }
}

.md-toolbar-tools{
  background-color: #e54735;
  border-bottom: 5px solid #361d10;
}
/*Nav text*/
._md-nav-button-text{
  color: #e54735;
  font-size:16px;
}

.angry-button {
  padding: 0 6px 0 6px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color: #faf6ee;
  background-color: #002f54;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.angry-button:not([disabled]):hover{
  padding: 0 6px 0 6px;
  min-width: 88px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color: #002f54 ;
  background-color:  #faf6ee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.search{
  display:block;
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
}
/* nested nav underline*/
md-nav-bar md-nav-ink-bar {
  background: #e54735;
}

.formTwoBikeImage{
  margin-top: -5%;
  margin-left: -2%;
  margin-bottom: 5%;

}
.formThreeBikeImage{
  margin-top: -5%;
  margin-left: -9%;
  margin-bottom: 5%;
}

#formOneIcon{
display: block;
margin: auto;
margin-top:10%;
width: 40%;
opacity: 0.75;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
form{
  margin-left: 2%;
}
.formTwoNotes,.formThreeNotes,.formOneNotes, .formFourNotes{
  margin-left: 5%;
  margin-right: 7%;
}
.customerSearch{
  margin-left: 2%;

}
md-card{
  text-align: center;
  background-color: #002f54;
  color:#faf6ee;
  box-shadow: 0 1px 3px #361d10;

}
.md-card-image{
background-color: #faf6ee;
border-bottom: 3px solid #e54735;
}
.customerDisplay{
  height: 50px;
}
.bikeFits{
  margin-left: 5%;
  overflow-y: scroll;
  height: 600px;
  overflow-x: hidden;
}
.secretData{
  text-align: center;
  margin-top: 5%;
  color:#361d10;
}
.largeButtons {
  height: 150px;
  font-size: 24px;
}
.newBikeIn{
  margin-top: 15%;
}
/* fill color while checked*/
md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
  background-color: #e54735;

}
/* border while checked*/
md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
  border-color: #e54735;
}
md-checkbox.md-checked.angry .md-icon {
 background-color: #e54735;
}
