#customerTypeButtons {
  height: 150px;

}

.exisitingUserGrid md-grid-list {
  margin: 8px;
}

.exisitingUserGrid .gray {
  background: #f5f5f5;
}

.exisitingUserGrid md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

/* Removes weird highligh on radios with ng-click*/
md-radio-button:focus {
    outline: none;
    border: 0;
 }

.newCustomerHeading, .existingFitFormHeading, .newFitFormHeading, .customFrameGeometryHeading, .customFrameDetailsHeading{
  text-align:center;
}
.newCustomerForm{
  margin-left: auto;
  margin-right: auto;
}
.formOneInputs, .formTwoInputs, .formThreeInputs, .formFourInputs{
  overflow-y: scroll;
  height: 400px;
}
.formOneSubmit, .formTwoSubmit, .formThreeSubmit, .formFourSubmit, .formOneUpdate, .formOnePdf, .formTwoUpdate, .formTwoPdf{
  width: 60%;
}
