  @font-face {
    font-family: GothamLightRegular;
    src: url("../assets/fonts/GothamLightRegular.otf") format("opentype");
  }
    @font-face {
      font-family: GothamMedium;
      src: url("../assets/fonts/GothamMedium.otf") format("opentype");
    }
  @font-face {
    font-family: ArcherSemibold;
    src: url("../assets/fonts/ArcherSemibold.otf") format("opentype");
  }

body{
  background-color: #faf6ee;
  color:#361d10;

}
h4{
  color: #361d10;

}
h3{
  font-weight:400;

}
md-radio-button{
  margin-right: 1%;
  margin-left: 1%;
}
md-content{
  overflow-x: hidden;
}
.md-input{
  font-family: GothamMedium;
  color:#361d10;
}

.material-icons.md-28 {
  font-size: 28px;
}
.material-icons.md-22{
  margin-top:-2%;
  font-size:22px;
}
.cream-background{
  background-color: #faf6ee;
}


.exisitingUserGrid md-grid-list {
  margin: 8px;
}

.exisitingUserGrid .gray {
  background: #f5f5f5;
}

.exisitingUserGrid md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

/* Removes weird highligh on radios with ng-click*/
md-radio-button:focus {
    outline: none;
    border: 0;
 }
md-input-container .md-input[disabled]{
  color:#361d10;
  }
md-input-container:not(.md-input-invalid).md-input-has-value label{
  color: #361d10;
  }

  md-input-container .md-input[disabled]{
    background-image: linear-gradient(to right,
       rgba(54,29,16,0.75) 0%, rgba(54,29,16,0.75) 33%, transparent 0%);
  }

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #e54735;
}
md-input-container .md-input {
border-color: #361d10;
}
md-input-container label{
  color:#361d10;
}
md-input-container .md-placeholder{
  color:#361d10;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #e54735;
}

.newCustomerHeading, .existingFitFormHeading, .newFitFormHeading, .customFrameGeometryHeading, .customFrameDetailsHeading, .customerSelectHeading, .existingCustomerHeading{
  text-align:center;
  font-size: 24px;
  margin-top: -0.5%;
  color: #361d10;
  font-family: GothamMedium;

}
.customerInformationHeading{
  text-align:center;
  margin-top: 1%;
  font-size: 24px;
  color: #361d10;
  font-family: GothamMedium;
}
.loginHeading{
  text-align:center;
  margin-top: 5%;
  font-size: 24px;
  color: #361d10;
  font-family: GothamMedium;
}
.newCustomerForm{
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  font-family: ArcherSemibold;
}
.updateCustomerForm{
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid #361d10;
  padding-right: 15px;
  font-family: ArcherSemibold;
}
.customerSelectHeading, .existingCustomerHeading{

  margin-top: 5%;
}
.customerTypes{
  margin-top: 5%;
  margin-left:12%;
}
.formOneInputs, .formTwoInputs, .formThreeInputs, .formFourInputs{
  overflow-y: scroll;
  height: 400px;
  overflow-x: hidden;
  font-family: ArcherSemibold;
}
.customersDisplay{
    overflow-y: scroll;
    height: 410px;
    overflow-x: hidden;
    margin-right: 5%;
    margin-left: 5%;
}
.formOneSubmit, .formTwoSubmit, .formThreeSubmit, .formFourSubmit, .formUpdate, .formPdf, .formSave{
  width: 60%;
}
.hideMeasurement{
  display: none;
}
.showMeasurement{
  display: block;
}
@media screen and (max-width: 1024px) and (min-width: 768px){
  .customerBike{
    width: 170px !important;
  }
}
md-toolbar:not(.md-menu-toolbar){
  background-color: #e54735;
  height: 12%;
  border-bottom: 5px solid #361d10;
}

/*Nav text*/
._md-nav-button-text{
  color: #e54735;
  font-size:16px;
  font-family: GothamMedium !important;
}

.angry-button {
  padding: 0 6px 0 6px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color: #faf6ee;
  background-color: #002f54;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-family: GothamMedium;
}
.angry-button:not([disabled]):hover{
  padding: 0 6px 0 6px;
  min-width: 88px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color: #002f54 ;
  background-color:  #faf6ee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-family: GothamMedium;
}
.search{
  display:block;
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
}
.md-fab:not([disabled]):hover{
  background-color:  #faf6ee !important;
}
.search-button :not([disabled]):hover{
  color: #002f54 !important;
}
/* nested nav underline*/
md-nav-bar md-nav-ink-bar {
  background: #e54735;
}

.formTwoBikeImage{
  margin-top: -5%;
  margin-left: -2%;
  margin-bottom: 5%;

}
.formThreeBikeImage{
  margin-top: -5%;
  margin-left: -9%;
  margin-bottom: 5%;
}

#formOneIcon{
display: block;
margin: auto;
margin-top:10%;
width: 40%;
opacity: 0.75;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
form{
  margin-left: 2%;
}
.formTwoNotes,.formThreeNotes,.formOneNotes, .formFourNotes{
  margin-left: 5%;
  margin-right: 7%;
  font-family: ArcherSemibold;
}
.customerSearch{
  margin-left: 2%;

}
md-card{
  text-align: center;
  background-color: #002f54;
  color:#faf6ee;
  box-shadow: 0 1px 3px #361d10;

}
.md-card-image{
background-color: #faf6ee;
border-bottom: 3px solid #e54735;
}
.customerDisplay{
  height: 50px;
}
.bikeFits{
  margin-left: 5%;
  overflow-y: scroll;
  height: 600px;
  overflow-x: hidden;
}
.secretData{
  text-align: center;
  margin-top: 5%;
  color:#361d10;
}
.largeButtons {
  height: 150px;
  font-size: 24px;
}
.newBikeIn{
  margin-top: 15%;
}
/* fill color while checked*/
md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
  background-color: #e54735;

}
/* border while checked*/
md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
  border-color: #e54735;
}
md-checkbox.md-checked.angry .md-icon {
 background-color: #e54735;
}
.md-datepicker-calendar-icon{
  color: #361d10;
}
.md-datepicker-open .md-datepicker-calendar-icon{
  color:#e54735;
}
.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
  background: #e54735;
}
.md-calendar-day-header {
  color:#faf6ee;
  background-color: #361d10;
}
.md-calendar{
    color:#361d10;
    background-color:#faf6ee;
}
.md-default-theme .md-datepicker-focused .md-datepicker-calendar-icon, .md-datepicker-focused .md-datepicker-calendar-icon {
    fill: #e54735;
}
.md-datepicker-calendar-icon{
  fill: #e54735;
}
.headerLogo{
  margin-top: 1%;
  width: 20%;
  margin-left:30%;
}
@media screen and (max-width: 1024px) and (min-width: 768px){
  .headerLogo{
    display: block;
    margin-top:2%;
    margin-left:27%;
    width:25%;
  }
}
.loginLogo{
  display: block;
  width:75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top:5%;
}
.loginButton{
  width: 55%;
  height:90px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-8%;
}
.customerSelect{
  width: 75%;
}

.newCustLabel{
  font-family: GothamLightRegular;
  font-size:28px;
  margin-left: 16%;
  color: #e54735;

}
.existingCustLabel{
  font-family: GothamLightRegular;
  font-size:28px;
  margin-left: 10%;
  color: #e54735;
  }
