<md-content class="md-padding cream-background" ng-init="verifyEmployee()">
<h2 class=" customerSelectHeading cream-background">Select Customer Type</h2>
  <div layout="column" class="cream-background customerTypes" layout-align="center">
  <md-button id="customerTypeButtons" class="angry-button largeButtons" ng-click="newCustomer()">New Customer</md-button>
  <md-button id="customerTypeButtons" class="angry-button largeButtons" ng-click="existingCustomer()">Exisiting Customer</md-button>
  </div>
</md-content>
