<h2 class="existingCustomerHeading">Select Existing Customer</h2>
<div class="exisitingUserGrid" class="cream-background">


<md-content  class="cream-background">
  <div layout-gt-sm="row" class="cream-background"  >
    <md-input-container   class='md-block  cream-background customerSearch' flex="25" >
      <label  flex-gt-sm="60">Search by customer's last name</label>
      <input ng-model="customer" flex="100">
    </md-input-container>
    <md-button class="md-fab search-button" style="background:#002f54;" ng-click="searchCustomer()"><md-icon class="material-icons md-28" style="color: #faf6ee;"> search </md-icon></md-button>
  </div>
</md-content>

  <div class='md-padding customersDisplay' layout="row" layout-wrap>
        <md-card style="width: 200px;" ng-repeat="user in existingCustomers" ng-click="cardClicked(user)">
          <img src="assets/angry_icons/acf_logo.png" class="md-card-image" alt="user avatar">
          <md-card-content>
            <h3>{{user.firstname}} {{user.lastname}}</h3>

          </md-card-content>
          <div class="md-actions" layout="row">
          </div>
        </md-card>
      </div>
    </div>
