<md-content class="md-padding">
  <h2>Add new customer</h2>

  <form class="" action="" method="post">
    <md-input-container class="md-block" flex-gt-sm="">
      <input type="text" placeholder="Name" ng-model="firstName">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
      <input type="text" placeholder="Last Name" ng-model="lastName">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
      <input type="text" placeholder="Email Address" ng-model="email">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
      <input type="text" placeholder="Phone Number" ng-model="phoneNumber">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
      <input type="text" placeholder="Street Address" ng-model="streetAddress">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
      <input type="text" placeholder="Unit Number" ng-model="unitNumber">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
      <input type="text" placeholder="City" ng-model="city">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
      <input type="text" placeholder="State" ng-model="state">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
      <input type="text" placeholder="Zip" ng-model="zip">
    </md-input-container>

    <!-- <md-input-container flex-gt-sm=""> -->
      <md-button class="md-raised md-primary" placeholder="Submit" ng-click="addNewCustomer()">Submit</md-button>
    <!-- </md-input-container> -->

  </form>
</md-content>
