<h2>Form 4</h2>
<div id="frameOptions">
  <!-- Waht Style of Bike? -->
  <div>
    <label for='bikeStyle'>What style of bike are you looking for?</label>
    <input type="text" id="bikeStyle" value="">
  </div>

  <div id="bottomBracketDiv">
    <!-- Type of Bottom Bracket Shell -->
    <p id="bottomBracketStyle"> Bottom Bracket Shell (choose one)</p>

    <!-- English 68mm  -->
    <input type="radio" id="english68" value="english68" name="bottomBracketStyle">
    <label for="english68">English 68mm</label>

    <!-- English 73mm -->
    <input type="radio" id="english73" value="english73" name="bottomBracketStyle">
    <label for="english73">English 73mm</label>

    <!-- EBB for Niner insert -->
    <input type="radio" id="ebbNiner" value="ebbNinerInsert" name="bottomBracketStyle">
    <label for="ebbNiner">EBB for Niner insert</label>

    <!-- T47 68mm -->
    <input type="radio" id="t4768" value="t4768" name="bottomBracketStyle">
    <label for="t4768">T47 68mm</label>

    <!-- T47 73mm -->
    <input type="radio" id="t4773" value="t4773" name="bottomBracketStyle">
    <label for="t4773">T47 73mm</label>

    <!-- Other -->
      <input type="radio" id="bbOther" value="other" name="bottomBracketStyle">
      <label for="bbOther">Other</label>

    <!--Other Input Field  -->
    <input type="text input" id="bbOther" value="" placeholder="Please Specify">
  </div>
  <div id="brakesDiv">
    <p id="brakeCompatability"> Brake Compatability (choose one)</p>
    <!-- ISO Disk Brake-->
    <input type="radio" id="isoDisk" value="isoDisk" name="brakeStyle">
    <label for="isoDisk">ISO Disk Brake</label>

    <!-- Flat Mount Disk Brake-->
    <input type="radio" id="flatMountDisk" value="flatMountDisk" name="brakeStyle">
    <label for="flatMountDisk">Flat Mount Disk Brake</label>

    <!-- Short Reach Road Caliper-->
    <input type="radio" id="shortReachRoad" value="shortReachRoad" name="brakeStyle">
    <label for="shortReachRoad">Short Reach Road Caliper</label>

    <!-- V Brake-->
    <input type="radio" id="vBrake" value="vBrake" name="brakeStyle">
    <label for="vBrake">V Brake</label>

    <!-- Cantilever Brake-->
    <input type="radio" id="cantileverBrake" value="cantileverBrake" name="brakeStyle">
    <label for="cantileverBrake"> Cantilever Brake</label>

    <!-- Other -->
      <input type="radio" id="brakeOther" value="other" name="brakeStyle">
      <label for="other">Other</label>

    <!--Other Input Field  -->
    <input type="text input" id="brakeOther" value="" placeholder="Please Specify">

  </div>

</div>
<div id="paintNotes">
  <p>Any other notes regarding paint?</p>
  <input type="text" value="">
</div>
<div id="optionsNotes">
  <p> Any other notes regarding frame options</p>
  <input type="text" value="">
</div>
