<h2>Consultation Form</h2>

Name: <input type="text" ng-model='name'>
<p>  {{ name }} </p>

Phone: <input type="numbers" ng-model='phone'>
<p>  {{ phone }} </p>

Email: <input type="text" ng-model='email'>
<p>  {{ email }} </p>

Address: <input type="text" ng-model='address'>
<p>  {{ address }} </p>

Do you have any injuries that prevent you from riding any length of time?
<p><input type="radio" name="button">yes</input></p>
<p><input type="radio" name="button">no</input></p>
<p><textarea rows="4" cols="50"></textarea></p>

What are some of your complaints with your current fit if any?
<p><textarea rows="4" cols="50"></textarea></p>

Have you had any surgeries? If so, how long ago?
<p><input type="radio" name="button">yes</input></p>
<p><input type="radio" name="button">no</input></p>
<p><textarea rows="4" cols="50"></textarea></p>

How long is your average ride?
<p><input type="text" name="button"> Mile(s)</input></p>

Do you have any races, tours or over all goals in the near future?
<p><input type="radio" name="button">yes</input></p>
<p><input type="radio" name="button">no</input></p>
<p><textarea rows="4" cols="50"></textarea></p>

Current bike brand/model/size:
<p><textarea rows="4" cols="50"></textarea></p>

<h3>Current measurements:</h3>
<div>Saddle height: <input type="text" ng-model='height'></div>
<div>Saddle height over bars: <input type="text" ng-model='saddleOverBars'></div>
<div>Saddle angle: <input type="text" ng-model='angle'></div>
<div>Saddle setback: <input type="text" ng-model='setback'></div>
<div>Saddle to handlebar reach: <input type="text" ng-model='handlebarReach'></div>
<div>Stem length: <input type="text" ng-model='stemLenght'></div>
<div>Stem angle: <input type="text" ng-model='stemAngle'></div>
<div>Handle bar width: <input type="text" ng-model='handleBarWidth'></div>
<div>Handle bar brand/model: <input type="text" ng-model='handleBarBrand'></div>
<div>Show brand/model/size: <input type="text" ng-model='shoe'></div>
<div>Bake level position: <input type="text" ng-model='brake'></div>
<div>Crank length: <input type="text" ng-model='crank'></div>
