<md-content class="md-padding">
  <h3>New X/Y Measurements</h3>
  <form name="fitFormTwo" >

    <div layout-gt-xs="row">
      <md-input-container>
          <label>Enter date</label>
            <md-datepicker ng-model="form2Date"></md-datepicker>
      </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>A: Saddle Height</label>
        <input ng-model="saddleHeight">
      </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>B: Saddle height over bars</label>
            <input ng-model="saddleHeightOverBars">
      </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>C: Saddle to handlebar reach</label>
            <input ng-model="saddleToHandlebarReach">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>D: Saddle angle</label>
            <input ng-model="saddleAngle">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>E: Saddle fore-aft</label>
            <input ng-model="saddleForeAft">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>F: Saddle brand/width</label>
            <input ng-model="saddleBrandAndWidth">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>H: Stem length</label>
            <input ng-model="stemLength">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>I: Stem angle</label>
            <input ng-model="stemAngle">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>J: Handle bar width</label>
            <input ng-model="handleBarWidth">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>K: Handle bar brand/model</label>
            <input ng-model="handleBarBrandAndModel">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>L: Pedal brand/model</label>
            <input ng-model="pedalBrandAndModel">
          </md-input-container>
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Shoe brand/model/size</label>
          <input ng-model="showBrandModelSize">
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>M: Brake level position</label>
            <input ng-model="brakeLevelPosition">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>N: Crank Length</label>
            <input ng-model="crankLength">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>o: Standover</label>
            <input ng-model="standover">
            </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>P: Stack</label>
            <input ng-model="stack">
            </md-input-container>
    </div>

    <md-button class="md-raised md-primary" placeholder="Submit" ng-click="addForm2NewFit()">Submit</md-button>

  </form>
</md-content>
