<h2>Selected Customer</h2>
<md-button class="md-raised md-primary" ng-click="newBikeStart()" ng-hide="newBikeButton">Start New Fit</md-button>
<md-button class="md-raised md-primary" ng-click="clearsess()">Clear session</md-button>

<div id="custInfo" ng-model="customerInfo">

</div>

<div id="newBike" ng-show="newBikeButton">
<div id="newBikeName">
  <p>New Bike Name?</p>
<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm="">
    <label>Name</label>
        <input ng-model="arm">
  </md-input-container>
</div>
</div>



<div id="newBikeType">
   <div layout-gt-sm="row">
     <p>New bike type?</p>
   </div>
   <md-radio-group>
     <div layout-gt-sm="row">
       <!-- Seat injuries Yes -->
       <md-radio-button value="flatBar" name="newBikeTypeIn" ng-click="updateHideType()"> Flat bar </md-radio-button>
       <md-radio-button value="dropBar" name="newBikeTypeIn" ng-click="updateHideType()"> Drop bar </md-radio-button>
       <md-radio-button value="triTT" name="newBikeTypeIn" ng-click="updateHideType()"> Tri/TT </md-radio-button>
       <md-radio-button value="" name="newBikeTypeIn" ng-click="updateShowOther()"> Other </md-radio-button>
     </div>
   </md-radio-group>

     <!-- IF yes -->
   <div id="setNewBikeType" ng-show="showInNewBikeType">
     <div layout-gt-sm="row">
       <md-input-container class="md-block" flex-gt-sm="">
         <input type="text" id="injuryIn" value="" placeholder="Explain" ng-model="newBikeInfo">
       </md-input-container>
     </div>
   </div>
</div>








<!-- <div id="newBikeType">
  <div layout-gt-sm="row">
    <p>New bike type?</p>
  </div>
  <md-radio-group>
    <div layout-gt-sm="row">
      <md-radio-button value="flatBar" name="bikeType" ng-click="bikeStyleSelected()">Flat bar</md-radio-button>
      <md-radio-button value="dropBar" name="bikeType" ng-click="bikeStyleSelected()">Drop bar</md-radio-button>
      <md-radio-button value="triTT" name="bikeType" ng-click="bikeStyleSelected()">Tri/TT</md-radio-button>
      <md-radio-button value="other" name="bikeType" ng-click="otherSelected()">Other</md-radio-button>
    </div>
  </md-radio-group>

  <div id="otherType" ng-show="otherType">
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <input type="text" id="otherBike" value="" placeholder="Other Bike Type" ng-model="otherBikeType">
      </md-input-container>
    </div>
  </div>
  </div> -->
  <div layout-gt-sm="row" layout-align="center" flex="100">
    <md-button id='startNewBikeButton' class="md-raised md-primary" ng-click="startNewBike()">Completed</md-button>
  <div>
</div>
