
<md-content class="md-padding cream-background" ng-init="verifyEmployee()">



  </div>
   <md-nav-bar  md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
     <md-nav-item class="nav-color" md-nav-sref="selectedBike.form1" name="form1">Existing Fit<span id="checkmark1"></span><md-icon class="material-icons md-28" style="color: #blue;" ng-show="checkOne"> done </md-icon></md-nav-item>
     <md-nav-item md-nav-sref="selectedBike.form2" name="form2">New Fit<span id="checkmark2"></span><md-icon class="material-icons md-28" style="color: #blue;" ng-show="checkTwo"> done </md-icon></md-nav-item>
     <md-nav-item md-nav-sref="selectedBike.form3" name="form3">Custom Frame geometry<span id="checkmark3"></span><md-icon class="material-icons md-28" style="color: #blue;" ng-show="checkThree"> done </md-icon></md-nav-item>
     <md-nav-item md-nav-sref="selectedBike.form4" name="form4"> Custom Frame details<span id="checkmark4"></span><md-icon class="material-icons md-28" style="color: #blue;" ng-show="checkFour"> done </md-icon></md-nav-item>
   </md-nav-bar>
 </md-content></div>
<div ui-view></div>
