<!-- <md-content class="md-padding">
<h2>Selected Customer</h2>
<div id="custInfo" ng-click="editCustomerInfo()" ng-model="customerInfo">
</div> -->

<!--//////////////////////////Customer Form///////////////////////////////-->
<h2 class="customerInformationHeading">Customer Information</h2>
<md-content class="md-padding cream-background">
  <div layout-gt-sm="row">
    <div layout-gt-sm="column" flex="40">
      <form class="newCustomerForm" action="" method="post"  flex="100" max-height="100%">

          <md-input-container class="md-block" flex-gt-sm="">
            <input type="text" placeholder="First Name" ng-model="firstName" ng-disabled="submittedSelectedCustomer">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <input type="text" placeholder="Last Name" ng-model="lastName" ng-disabled="submittedSelectedCustomer">
          </md-input-container>

        <div layout-gt-sm ="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <input type="text" placeholder="Email Address" ng-model="email" ng-disabled="submittedSelectedCustomer">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <input type="text" placeholder="Phone Number" ng-model="phoneNumber" ng-disabled="submittedSelectedCustomer">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <input type="text" placeholder="Street Address" ng-model="streetAddress" ng-disabled="submittedSelectedCustomer">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <input type="text" placeholder="Unit Number" ng-model="unitNumber" ng-disabled="submittedSelectedCustomer">
          </md-input-container>
        </div>
        <div layout-gt-sm ="row">
          <md-input-container class="md-block" flex-gt-sm="60">
            <input type="text" placeholder="City" ng-model="city" ng-disabled="submittedSelectedCustomer">
          </md-input-container>

          <md-input-container class="md-block" layout-gt-sm="20">
            <input type="text" placeholder="State" ng-model="state" ng-disabled="submittedSelectedCustomer">
          </md-input-container>

          <md-input-container class="md-block" layout-gt-sm="20">
            <input type="text" placeholder="Zip" ng-model="zip" ng-disabled="submittedSelectedCustomer">
          </md-input-container>
        </div>

        <div layout-gt-sm="row" layout-align="center" flex="100">
          <md-button class="angry-button formUpdate" ng-click="updateExistingCustomer()" ng-hide="showHideUpdateCustomer"> Update Information </md-button>
          <md-button class="angry-button formUpdate" ng-show="showSave" ng-click="saveExistingCustomer()"> Save Updates</md-button>
        </div>
      </form>
    </div>


<!--//////////////////////////Bike Cards For Each Customer///////////////////////////////-->
<div layout-gt-sm="column" flex="70" class="bikeFits">
  <!-- <md-button class="md-raised md-primary" ng-click="newBikeStart()" ng-hide="newBikeButton">Start New Fit</md-button> -->
  <!-- <md-button class="md-raised md-primary" ng-click="loadBikes()">Load Bikes</md-button> -->

  <!-- Bike Fits  -->
  <div class='md-padding' ng-show="hideBikes" layout="row" layout-wrap>
        <md-card class="customerBike" style="width: 200px;" ng-click="newBikeStart()">
          <img src="assets/angry_icons/add_icon.svg" class="md-card-image" alt="user avatar">
          <md-card-content>
            <h3> Start New Fit </h3>
          </md-card-content>
        </md-card>
        <md-card class="customerBike" style="width: 200px;" ng-repeat="bike in customerBikes" ng-click="cardClicked(bike)">
          <img src="assets/angry_icons/angry_mountain.png" class="md-card-image" alt="user avatar">
          <md-card-content>
            <h3>{{bike.bikename}}</h3>
            <h3>{{bike.biketype}}</h3>

          </md-card-content>
        </md-card>
      </div>
  <div id="newBike"  ng-hide="hideBikes" ng-show="newBikeButton">
    <div id="newBikeName">

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Name of New Bike</label>
          <input ng-model="newBikeName">
        </md-input-container>
      </div>
    </div>

    <div id="newBikeType">
    <div layout-gt-sm="row">
      <h4>Type of Bike:</h4>
    </div>
    <md-radio-group ng-model="newBikeStyle">
      <div layout-gt-sm="row">
        <md-radio-button value="Flat Bar" name="bikeType" ng-click="bikeStyleSelected()">Flat bar</md-radio-button>
        <md-radio-button value="Drop bar" name="bikeType" ng-click="bikeStyleSelected()">Drop bar</md-radio-button>
        <md-radio-button value="Tri/TT" name="bikeType" ng-click="bikeStyleSelected()">Tri/TT</md-radio-button>
        <md-radio-button value="" name="bikeType" ng-click="otherSelected()">Other</md-radio-button>
      </div>
    </md-radio-group>

    <div id="otherType" ng-show="otherType">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm="">
          <input type="text" id="otherBike" ng-model="newBikeStyle" placeholder="Other Bike Type">
        </md-input-container>
      </div>
    </div>
    </div>
    <div layout-gt-sm="row" layout-align="center" flex="100">
      <md-button id='startNewBikeButton' class="angry-button" ng-click="startNewBike()" flex="60">Start Fit</md-button>

  </div>
  </div>
    </div>
</md-content>
