<h2 class="newFitFormHeading">New X/Y Measurements</h2>
<md-content class="md-padding">
  <div layout-gt-sm="row">
    <form name="fitFormTwo" layout-gt-sm="column" flex="40" >
      <div id="formTwoInputs" class="formTwoInputs" flex="100">
        <div layout-gt-xs="row">
          <md-input-container>
              <label>Enter date</label>
                <md-datepicker ng-model="date" ng-disabled="submittedTwo"></md-datepicker>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>A: Saddle Height</label>
            <input ng-model="saddleHeight"  ng-focus="saddleHeightFocus()" ng-blur="saddleHeightBlur()"ng-disabled="submittedTwo">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>B: Saddle height over bars</label>
                <input ng-model="saddleHeightOverBars" ng-focus="saddleOverBarsFocus()" ng-blur="saddleOverBarsBlur()" ng-disabled="submittedTwo">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>C: Saddle to handlebar reach</label>
                <input ng-model="saddleToHandlebarReach" ng-focus="handleBarReachFocus()" ng-blur="handleBarReachBlur()" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>D: Saddle angle</label>
                <input ng-model="saddleAngle" ng-focus="saddleAngleFocus()" ng-blur="saddleAngleBlur()" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>E: Saddle fore-aft</label>
                <input ng-model="saddleForeAft" ng-focus="saddleForeAftFocus()" ng-blur="saddleForeAftBlur()" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>F: Saddle brand/width</label>
                <input ng-model="saddleBrandAndWidth" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>G: Stem length</label>
                <input ng-model="stemLength" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>H: Stem angle</label>
                <input ng-model="stemAngle" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>I: Handle bar width</label>
                <input ng-model="handleBarWidth" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>J: Handle bar brand/model</label>
                <input ng-model="handleBarBrandAndModel" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>K: Pedal brand/model</label>
                <input ng-model="pedalBrandAndModel" ng-disabled="submittedTwo">
              </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Shoe brand/model/size</label>
              <input ng-model="shoeBrandModelSize" ng-disabled="submittedTwo">
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>L: Brake level position</label>
                <input ng-model="brakeLevelPosition" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>M: Crank Length</label>
                <input ng-model="crankLength" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">

            <label>O: Standover</label>
                <input id="standover" ng-focus="standoverFocus()" ng-blur="standoverBlur()"ng-model="standover" ng-disabled="submittedTwo">
                </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>O: Stack</label>
                <input ng-model="stack" ng-disabled="submittedTwo">
                </md-input-container>
        </div>
      </div>
    </form>
    <div layout-gt-sm="column" flex="60">
      <div id="formTwoNotes" class="formTwoNotes" flex="100">
      <md-input-container class="md-block" flex-gt-sm="">
        Notes<textarea rows="1" ng-model='notes' ng-disabled="submittedTwo"></textarea></p>
      </md-input-container>
    </div>
      <div class="formTwoBikeImage">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 width="853.234px" height="484.762px" viewBox="0 0 953.234 584.762"  preserveAspectRatio="xMidYMid meet"
        	 xml:space="preserve"  >

           <image xlink:href="./assets/angry_road_bike.png" width="853.234px" height="484.762px" x="45.98" y="40.188"/>

          <!-- Saddle Height -->
          <g id="saddleHeightMeasure" class="hideMeasurement">
            <line x1="240" y1="80" x2="310" y2="60" stroke="green" stroke-width="3"/>
            <line x1="240" y1="80" x2="340" y2="440" stroke="green" stroke-width="3"/>
            <line x1="340" y1="440" x2="420" y2="420" stroke="green" stroke-width="3"/>
            <text x="305" y="295" font-size="14" font-family="Helvetica" fill="black"> A </text>
          </g>
          <!-- Saddle Height Over Bars -->
          <g id="saddleHeightOverBarsMeasure" class="hideMeasurement" >
            <line x1="330" y1="40" x2="330" y2="70" stroke="green" stroke-width="3"/>
            <line x1="330" y1="55" x2="450" y2="55"  stroke-dasharray="10,10" stroke="green" stroke-width="3"/>
            <line x1="450" y1="55" x2="450" y2="100"  stroke-dasharray="10,10" stroke="green" stroke-width="3"/>
            <text x="460" y="90" font-size="14" font-family="Helvetica" fill="black" > B </text>
            <line x1="450" y1="100" x2="620" y2="100" stroke-dasharray="10,10" stroke="green" stroke-width="3"/>
            <line x1="620" y1="115" x2="620" y2="85" stroke="green" stroke-width="3"/>

          </g>
          <!-- HandleBar Reach -->
          <g id="handleBarReach" class="hideMeasurement">
            <line x1="397" y1="25" x2="397" y2="80" stroke="green" stroke-width="3"/>
            <line x1="397" y1="25" x2="670" y2="25" stroke="green" stroke-width="3"/>
            <line x1="670" y1="25" x2="670" y2="90" stroke="green" stroke-width="3" />
            <text x="405" y="50" font-size="14" font-family="Helvetica" fill="black" > C </text>
          </g>
          <!-- SaddleAngle -->
          <g id="saddleAngle" class="hideMeasurement" >
            <line x1="210" y1="55" x2="310" y2="55" stroke="green" stroke-width="3"/>
            <line x1="210" y1="85" x2="310" y2="55" stroke="green" stroke-width="3"/>
            <path d= "M230 55 C 220 55, 220 85, 230 79"  fill="transparent" stroke="green" stroke-width="3" />
            <text x="200" y="75" font-size="14" font-family="Helvetica" fill="black"> D </text>
          </g>
          <!-- Saddle Fore-aft -->
          <g id="saddleForeAft" class="hideMeasurement" >
            <line x1="397" y1="45" x2="397" y2="90" stroke="green" stroke-width="3"/>
            <line x1="397" y1="60" x2="610" y2="60" stroke="green" stroke-width="3" />
            <line x1="610" y1="45" x2="610" y2="90" stroke="green" stroke-width="3" />
            <text x="490" y="80" font-size="14" font-family="Helvetica" fill="black"> E </text>
          </g>
          <!-- Standover -->
          <g id="standoverMeasure" class="hideMeasurement">
            <line x1="50" y1="150" x2="50" y2="550" stroke="green" stroke-width="3" />
            <line x1="50" y1="150" x2="420" y2="150" stroke="green" stroke-width="3" />
            <text x="55" y="165" font-size="14" font-family="Helvetica" fill="black"> O </text>
        </g>
        </svg>

      </div>
    </div>
  </div>
  <div layout="row" layout-align="center" flex="100">
    <md-button class="md-raised md-primary formTwoSubmit" placeholder="Submit" ng-click="addForm2NewFit()" ng-show="showHideSubmitFormTwo">Submit</md-button>
    <md-button class="md-raised md-primary formUpdate" ng-click="updateFormTwo()" ng-hide="showHideSubmitFormTwo" ng-show="hideUpdate"> Update </md-button>
    <md-button class="md-raised md-primary formUpdate" ng-click="saveFormTwo()" ng-show='showSaveTwo'> Save Updates </md-button>
    <md-button class="md-raised md-primary formPdf"  ng-click="downloadFormTwoPdf()" ng-hide="showHideSubmitFormTwo"> PDF</md-button>
  </div>
</md-content>
